.headertext {
  position: fixed;
  top: 20vh;
  left: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.headertext h2 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3vw;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
}
.headertext h2 span {
  display: block;
  font-size: 10vw;
  letter-spacing: -0.3vw;
}
a,
a:visited {
  text-decoration: none;
}
:root {
  --yellow-primary: #fedc49;
  --yellow-hover: #ffeb99;
  --yellow-active: #fef2c8;
}
